header {
  text-align: center;
  background-color: lightgrey;
  height: 8rem;
  width: 100%;
}

h2 {
  position: relative;
  top: 2rem;
}

.article-block {
  background-color: lightskyblue;
}

#top-image {
  width: 100%;
  height: 35rem;
}

.jumbotron {
  width: 100%;
}
