body {
  background-color: lightgrey;
}

.navbar-brand {
  font-family: "News Cycle", serif;
  font-size: 2rem;
}

.navbar {
  font-family: "News Cycle", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

#scrape-btn,
#clear-btn {
  margin: 1rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.jumbotron {
  max-height: 30rem;
  min-width: 100%;
  background-image: url("../images/app-browser-coffee-6335.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#saved-jumbotron {
  height: 386px;
}

#comment-input {
  width: 40rem;
}

#click-card {
  text-align: center;
  background-color: transparent;
  border: transparent;
  position: relative;
  left: 30rem;
  width: 40rem;
}

#instructions {
  font-size: 2rem;
}

.card-header {
  background-color: black;
  font-size: 1.3rem;
}

a {
  color: white;
}

.card {
  margin: 2rem;
}

.card-text {
  font-size: 1rem;
  font-weight: 600;
}

#comment-input {
  margin-top: 5%;
  min-width: 50%;
  max-width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #click-card {
    left: 0;
    top: -40%;
  }
  #instructions {
    font-size: 0.9rem;
    display: inline-block;
    padding: 0;
    text-align: end;
    margin-left: 25px;
  }

  #scrape-btn,
  #clear-btn {
    margin: 0;
    height: 2rem;
    font-size: 0.75rem;
  }

  .instruction-card {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 340px;
    position: relative;
    left: 40px;
  }

  .row {
    display: block;
  }
}
